body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav > .btn {
    position: relative;
    margin: 6px;
}

[class*="active-"] {
    opacity: 100% !important;
}

.btn.active-launchers {
    outline: 0 !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    text-shadow: 4px 4px 15px #000;
}

.btn.active-streaming {
    outline: 0 !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    box-shadow: 0 0 0 0.25rem rgba(72, 180, 97, 0.5);
    text-shadow: 4px 4px 15px #000;
}

.btn.active-tools {
    outline: 0 !important;
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
    text-shadow: 4px 4px 15px #000;
}

.btn.active-kernels {
    outline: 0 !important;
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
    box-shadow: 0 0 0 0.25rem rgba(222, 170, 12, 0.5);
    text-shadow: 4px 4px 25px #000;
}

.btn.active-social {
    outline: 0 !important;
    background-color: #48c6da !important;
    border-color: #117a8b !important;
    box-shadow: 0 0 0 0.25rem rgba(78, 231, 255, 0.5);
    text-shadow: 4px 4px 25px #000;
}

#footer {
    position: fixed;
    bottom: 10px;
    width: 220px;
    font-family: 'Ubuntu Mono';
    font-size: 2rem;
    text-align: center;
}

#categories {
    width: 250px;
    height: 100vh;
    background-color: rgb(58, 0, 0);
    padding: 15px;
}

#apps-view {
    position: absolute;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 0;
}